*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --colorbotom1:rgb(178, 173, 173);
  --colorbotom2:rgb(0, 100, 90);
}

body{
  margin: 5px;
  padding: 50px;
  border: 1px solid;
  font-family: 'Bebas Neue', sans-serif;  
}

header{
  border: 1px solid;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 5px;
  border-radius: 16px;
}
header .logoContent{
  cursor: pointer;
}

header .logoContent #logoId{
  width:80px;
  height:80px;
  border-radius: 50%;
}

header > .barraNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1vh;
  margin-right: 8%;
  width: 80%;
}
header > .barraNav> a {
  text-decoration: none;
  text-transform: none;
  color: aliceblue;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-radius: 12%;
  background-color: var(--colorbotom1);
  padding: 1vh;
}

header > .barraNav> a:hover {
  border-color: rgb(71, 226, 9);

}

main{
  padding: 30px;
}

#sect1{
  width: 100%;
  height: 100vh;
  padding: 4vh;
  margin-bottom: 12vh;
  border: 1px solid;
  border-radius: 16px;
  background: url("images/fondoPortfolio.jpg");
  z-index: 1;
  background-attachment:fixed;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

#sect1 > .fotoContent {  
  display:inline-block;
  border: 1px solid;
  width: fit-content;
  border-radius: 25%;
  padding: 1vh;
}

#sect1 > .fotoContent > #foto{
  border-radius: 25%;
  background-size: cover;
}

#sect2{
  width: 100%;
  padding: 4vh;
  margin-top: 12vh;
  border: 1px solid;
  border-radius: 16px;
  background: url("images/fondoPortfolio.jpg");
  background-attachment:fixed;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

#sect3{
  margin-top: 12vh;
  width: 100%;
  padding: 4vh;
  border: 1px solid;
  border-radius: 16px;
  background: url("images/fondoPortfolio.jpg");
  background-attachment:fixed;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}
.sectBck > h2 {
  background: none;
}
#sect4{
  width: 100%;
  height: 100vh;
  margin-top: 12vh;
  padding: 4vh;
  border: 1px solid;
  border-radius: 16px;
  background: url("images/fondoPortfolio.jpg");
  background-attachment:fixed;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}
#sect4 > form{
  display: flex;
  flex-direction: column;
  width: 30%;
}
footer{
  display: flex;
  justify-content: center;
  border: 1px solid;
  align-items: center;
  border-radius: 16px;
  height: 90px;
}
footer>.contactContent{
  display: flex;
  justify-content: space-around;
  width: 70%;
  align-items: center;
  padding: 2vh;
}