*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Quicksand', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
}
header{
  display: flex;
  height: 10vh;
}
.sect1{
  width: 100%;
  height: 100vh;
  background: url("images/fondo1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-bottom: 12vh;
}
.sect1 > .marcoFoto > #foto{
  width: 30vh;
  height: 40vh;
  background-size: cover;
}
.sect2{
  width: 100%;
  height: 100vh;
  background: url("images/fondo2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: 12vh;
}
.sect3{
  margin-top: 12vh;
  width: 100%;
  height: 100vh;
  background: url("images/fondo3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
footer{
  display: flex;
  height: 10vh;
}