*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(157,209,7);
  background: linear-gradient(45deg, rgba(157,209,7,1) 90%, rgba(46,215,5,0.1881127450980392) 97%);
}
:root{
  --colorbotom1:rgb(213, 0, 0);
  --colorbotom2:rgb(0, 100, 90);
}
header > h1 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  border-bottom: 1px solid;
  margin-right: 10vh;
  margin-left: 10vh;
  padding-bottom: 1vh;
}

header > .barraNav{
  display: flex;
  padding: 3vh;
  justify-content: space-between;
}
header > .barraNav> a {
  text-decoration: none;
  border: 1px solid;
  border-radius: 12%;
  padding: 1vh;
  background-color: var(--colorbotom1);
}

header > .barraNav> a:hover {
  background-color: var(--colorbotom2);
}

body{
  font-family: 'Bebas Neue', sans-serif;
}

#sect1{
  width: 100%;
  height: 100vh;
  padding: 4vh;
  margin-bottom: 12vh;
}

#sect1 > .fotoContent {  
  display:inline-block;
  border: 1px solid;
  width: fit-content;
  border-radius: 25%;
  padding: 1vh;
}

#sect1 > .fotoContent > #foto{
  border-radius: 25%;
  background-size: cover;
}

#sect2{
  width: 100%;
  padding: 4vh;
  background: url("images/fondo2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: 12vh;
  border-radius: 1%;
}

#sect3{
  margin-top: 12vh;
  width: 100%;
  padding: 4vh;
  background: url("images/fondo3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-radius: 1%;
}
.sectBck > h2 {
  background: none;
}
#sect4{
  width: 100%;
  height: 100vh;
  margin-top: 12vh;
  padding: 4vh;
}
#sect4 > form{
  display: flex;
  flex-direction: column;
  width: 30%;
}
footer>.contactContent{
  display: flex;
  padding: 4vh;
  width: 70%;
  justify-content: space-around;
  border: 1px solid;
}